models/
data/*
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
weights/
eval_video/

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt